training_data_preprocessing/3D_meta_json
training_data_preprocessing/dxf_data 
training_data_preprocessing/inference_data
training_data_preprocessing/line_only_3D_seq
training_data_preprocessing/line_only_3D_seq_matched
training_data_preprocessing/line_only_3D_seq_processed_clipped
training_data_preprocessing/line_only_3D_seq_processed_clipped (check)
training_data_preprocessing/line_only_step
training_data_preprocessing/step_files
training_data_preprocessing/step_project_npy
training_data_preprocessing/temp
training_data_preprocessing/tokenized_3D_sequences
training_data_preprocessing/train
training_data_preprocessing/intermediate_data
training_data_preprocessing/train_old

archived
01082503_checkpoint